* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
::-webkit-scrollbar {
  width: 5px;
  padding-right: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(231, 231, 231);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(187, 187, 187);
}

.header {
  min-height: 10%;
  position: relative;
  display: flex;
  padding: 2% 4%;
  justify-content: space-between;
  align-items: stretch;
}
body {
  overflow: overlay;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(0, 0, 22, 0.493),
      rgba(0, 0, 22, 0.808)
    ),
    url(Resources/Images/Fluff/image\ B.jpg);
  background-position: center;
  background-size: cover;
}
.nav-links {
  flex: 1;
  text-align: center;
}
.nav-links ul {
  text-align: center;
}
.nav-links ul li {
  list-style: none;
  display: inline-table;
  padding: 30px 50px;
  position: relative;
  border-right: 3px solid white;
}
.nav-links ul li:last-child {
  border-right: none;
}
.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 40px;
}
.titles {
  color: white;
  text-decoration: underline;
}

.social {
  margin-left: 19%;
  margin-top: -3%;
  width: 50%;
  justify-content: left;
  padding: 100px;
}
.resume {
  margin-left: 19%;
  margin-top: -3%;
  width: 50%;
  justify-content: left;
  padding: 100px;
}
.contact {
  margin-left: 19%;
  margin-top: -3%;
  width: 50%;
  justify-content: left;
  padding: 100px;
}
.projects {
  margin-left: 19%;
  margin-top: -3%;
  width: 50%;
  justify-content: left;
  padding: 100px;
}
.home {
  margin-left: 19%;
  margin-top: -3%;
  width: 50%;
  justify-content: left;
  padding: 100px;
}
.admin {
  margin-left: 35%;
  margin-top: 5%;
  width: 20%;
  justify-content: left;
  padding: 100px;
}

input[type='file'] {
  display: none;
}
.custom-label {
  border: 2px solid white;
  padding: 10px;
  cursor: pointer;
}
.input-fields {
  font-size: 25px;
  color: white;
  width: 100%;
}
.input-fields div {
  margin-top: 3%;
}
.input-fields input {
  color: white;
  font-size: 20px;
  height: 30px;
  padding: 5px;
  background-color: transparent;
  border: 2px solid white;
  margin-top: 5px;
  border-radius: 3px;
}
.input-fields input:focus {
  padding: 5px;
  background-color: rgba(49, 49, 54, 0.562);
  border: 2px solid white;
}
.input-fields textarea {
  color: white;
  font-size: 20px;
  padding: 5px;
  background-color: transparent;
  border: 2px solid white;
  resize: none;
  margin-top: 5px;
  border-radius: 3px;
}
.input-fields textarea:focus {
  padding: 5px;
  background-color: rgba(49, 49, 54, 0.562);
  border: 2px solid white;
  resize: none;
}
.logbutton {
  display: flex;
  justify-content: center;
}
.logbutton input {
  width: 200px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.082);
}
.logbutton-special {
  display: flex;
  justify-content: center;
}
.logbutton-special input {
  font-weight: bold;
  font-size: larger;
  width: 250px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.082);
}
#confirm {
  color: white;
  display: table;
  margin: 0 auto;
  margin-top: 20px;
}
